.main {
  display: grid;
  grid-template-rows: 15rem 1fr;
  place-items: center center;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.intro-logo {
  font-size: calc(1vw + 3rem);
  user-select: none;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.menu-item {
  box-sizing: border-box;
  padding: 0.25rem;
  border-radius: 2px;
  border-bottom: 2px solid var(--color-border1);
  color: var(--color-text1);
  text-decoration: none;
  user-select: none;
}

.menu-item:hover {
  border-bottom: 2px solid var(--color-border2);
}

.posts {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  flex-wrap: wrap;
  padding-top: 1rem;
  border-top: 2px solid var(--color-border1);
  margin: -1rem;
}

.post-item {
  display: grid;
  overflow: hidden;
  width: calc(25% - 2rem);
  height: 25rem;
  box-sizing: border-box;
  padding: 1rem;
  border: 1px solid var(--color-border1);
  border-radius: 2px;
  margin: 1rem;
  background: var(--color-background1);
  color: #333;
  gap: 10px;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 1rem 5rem 1rem;
  text-decoration: none;
  transition: transform .25s ease-in;
}

.post-item:hover {
  border: 1px solid var(--color-border2);
  transform: translateY(-8px);
  transition: transform .25s ease-in;
}

.post-cover-container {
  position: relative;
  width: 100%;
  min-width: 0;
  height: 100%;
  min-height: 0;
}

.post-cover {
  object-fit: cover;
}

.post-title {
  font-weight: 450;
}

.post-excerpt {
  display: -webkit-box;
  overflow: hidden;
  height: 5rem; 
  -webkit-box-orient: vertical;
  font-weight: 300; 
  -webkit-line-clamp: 4; 
  text-overflow: ellipsis;
}

@media (width <= 1280px) {
  .post-item {
    width: calc(33.3% - 2rem);
  }
}

@media (width <= 1056px) {
  .post-item {
    width: calc(50% - 2rem);
  }
}

@media (width <= 767px) {
  .post-item {
    width: calc(100% - 2rem);
  }
}